<h1>Listing pages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Fb link</th>
    <th>Website</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><%= page.description %></td>
    <td><%= page.fb_link %></td>
    <td><%= page.website %></td>
    <td><%= page.category %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
